@import './variables';

html {
    font: 400 16px "Montserrat", sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-size: 1rem;
    background-color: $bg_primary;
    color: $color_primary;
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
    font-family: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.appWrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;

    @media screen and (min-width: 1024px) {
        flex-wrap: nowrap;
        align-items: flex-start;
    }
}