$bg_primary: hsl(0, 0%, 98%);
$bg_secondary: hsl(300, 21%, 5%);
$color_tertiary: hsl(206, 46%, 37%);

$color_primary: hsl(300, 21%, 5%);
$color_secondary: hsl(0, 0%, 98%);
$color_tertiary: hsl(206, 46%, 37%);
$color_quaternary: hsl(168, 58%, 41%);

$warn: hsl(1, 67%, 51%);

$box-shadow: 2px 2px 10px -5px rgba(0, 0, 0, .4);

// font sizes
$xs: .9em;
$s: 1em;
$m: 1.2em;
$l: 1.5em;
$xl: 2em;
$xxl: 3em;

// font weights
$regular: 400;
$semi-bold: 500;
$bold: 600;